.container {
    background-color: rgb(192, 170, 170);
    border: 2px solid rgb(81, 14, 67);
    padding: 15px;
    max-width: 300px;
    height: 300px;
    display: flex;
    /* alinhamento horizontal */
    justify-content: space-between;

    /* alinhamento vertical */
    align-items: center;

    /* Assume as dimensões padrão dos itens */
    flex-wrap: wrap-reverse;
}

.item {
    background-color: blueviolet;
    border: 2px solid rgb(54, 23, 54);
    height: 50px;
    width: 50px;
}