*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
}

nav{
    background-color: black;
    padding: 30px;
    padding-left: 13%;
}

#menu li{
    display: inline;
    margin-right: 100px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

a{
    color: white;
}

a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: underline overline;
    color:rgb(225, 225, 70);
}

header{
    width: 70%;
    margin-top: 20px;
}

.foto{
    border-radius: 50%;
    border: 5px solid rgb(72, 72, 30);
}

.titulo{
    float: right;
    font-size: 80px;
}


footer{
    background-color: black;
    padding: 30px;
    padding-left: 13%;
}

#rodape li{
    display: inline;
    margin-right: 100px;
    font-size: 18px;
    color: white;
}

section {
    height: 200px;
}